openapi: 3.1.0
info:
  title: LeadConduit API
  version: 1.0.1
  termsOfService: https://activeprospect.com/terms-of-service/
  contact:
    name: ActiveProspect Support Team
    email: support@activeprospect.com
    url: https://support.activeprospect.com
  description: |
    # About
    This documentation is a technical manual for the LeadConduit API. It is
    primarily intended to be read by software developers who want to integrate
    another system with LeadConduit.

    The API is RESTful and speaks JSON over HTTPS. In general, anything that
    can be accomplished by pointing and clicking in the LeadConduit user
    interface can also be done using the API.

    ## Conventions
    This documentation provides examples that show how to interact with the
    API. Examples are shown in monospaced blocks like the one shown below:

    ```
    Examples are presented in blocks like this one
    ```

    You may also see monospaced font inline `like this`. This text represents a
    literal value or expression to be used with the API.

    ## Questions
    If you have a question, or spot an error in the documentation, or just
    generally need to speak with someone about the API, email
    [support@activeprospect.com](mailto:support@activeprospect.com).
servers:
  - url: https://app.leadconduit.com
    description: The base URL for production.
security:
  - APIKey: []
tags:
  - name: Destinations
    description: |
      Destinations are similar to a recipient step in a flow; they represent
      an external system which receives lead data at the end of a flow.
      Data is sent to a Destination if all prior steps have completed successfully,
      and are skipped if an error occurs in a prior step.

      Destinations are configured once and then globally available within all of an account's flows.
      Destinations must be configured within the [LeadConduit app](https://app.leadconduit.com),
      and cannot be configured directly via the API. However, once a destination is configured,
      it can be queried via the API. Configured destinations can also be added to flows via the API.
  - name: Flows
    description: |
      A flow defines how leads are processed. A flow
      can include a range of actions, including validation, normalization, and distribution, that are applied to leads as they
      move through the flow.

      Each step in the flow is represented by a "node," which can perform a specific action or set of actions on the lead.
      For example, a node might validate the lead's phone number or email address, normalize the lead's data, or distribute
      the lead to a specific destination based on predefined rules.

      Flows can be customized to meet the specific needs of your business, and LeadConduit offers a range of pre-built
      templates and tools to help you create a flow that fits your unique requirements.

      Overall, flows are a powerful feature of the LeadConduit platform that enable you to streamline lead processing,
      automate lead distribution, and improve lead quality, all while maximizing your ROI.

      Free accounts do not have access to Flows (https://app.leadconduit.com/flows) and will receive a 401 (Unauthorized)
      error when trying to access it
  - name: Fields
    description: |-
      A field represents a piece of data collected about a lead.  When a field is referenced by ID from a flow's `fields` 
      property, that piece of data will be captured when submitted. LeadConduit provides a large catalog of built-in fields, 
      so there should rarely be a need to create a custom field.  Custom fields are those where the `standard` property is false.

      Free accounts do not have access to Fields (https://app.leadconduit.com/fields) and will receive a 401 (Unauthorized) 
      error when trying to access it
  - name: Changelogs
  - name: Events
  - name: Leads
    description: |-
      Free accounts do not have access to Leads (https://app.leadconduit.com/leads) and will receive a 401 (Unauthorized) 
      error when trying to access it
  - name: Entities
    description: |
      An entity is used to track lead flow. Each entity can be a source or a recipient or both. Entities can be used in 
      multiple flows. When an entity is a source, it can be added to a flow as a source and when it is a recipient, it can be 
      added to a flow as a recipient.
  - name: Firehose
    description: |
      Each flow is separately configured to use the firehose. This API allows firehose configuration to be tested before it 
      is set on a flow.
  - name: Account
    description: |
      The authenticated user reveals the details of the API caller's user account as well as certain details about
      the account of which the user is member. The `products` array reveals all ActiveProspect products and to which the
      caller's account is subscribed.
  - name: System
  - name: Changelogs
    description: |
      A changelog represents a creation, update, or deletion of a model such as
      `Flow`, `Entity`, or `Field`. Every change made will log the exact
      difference between the previous revision and the current one, as well as
      what user was logged in and what account the change was made on.
      Contained within the changelog is the full revision of the model changed
      at the state after the change was applied, as well as the differences
      between the previous revision and current revision.
  - name: Credentials
    description: |
      A credential is used by LeadConduit's rich integrations to authenticate
      with third party platforms. Once a credential is established, it can be
      used across flows. A credential ID can be specified on a source in a flow
      or in recipient step's integration mappings.
  - name: Reports
    description: ''
  - name: Routers
    description: ''
  - name: Types
    x-traitTag: true
    description: |
      A type defines the kind of data LeadConduit expects in a field or in a data point appended to a lead by any
      LeadConduit integration. LeadConduit uses a field's type to understand a value submitted with a lead.

      Types are simple and are all provided "out of the box" by LeadConduit. You cannot add or remove types. Standard
      LeadConduit fields are properly typed. If you need to create a custom field for some reason, you can set the type.

      A field's type...
      * determines whether a field's value is valid
      * normalizes the formatting of a value
      * parses a value into it's constituent components for use in flow rules and mappings
      * protects consumer PII by masking sensitive information before LeadConduit stores it
      * preserves the raw value submitted to LeadConduit, just in case


      ## Boolean

      Boolean fields and variables are declared as type `boolean`.

      | Component | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string  | Unmodified field value submitted with the lead |
      | `valid`         | boolean | Indicates whether the value could be understood as a boolean |
      | `normal`        | boolean | The normalized value (i.e. `"Yes"` is normalized to `true`) |

      ## City

      City fields and variables are declared as type `city`.

      ## Credential

      Credential fields and variables are declared as type `credential`.

      ## Date

      Date fields and variables are declared as type `date`.

      | Component | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string | Unmodified value submitted with the lead |
      | `valid`         | boolean | Indicates whether the value could be understood as a date |
      | `normal`        | string  | The normalized value (i.e. `"10/1/1988"` is normalized to `"1988-10-01"`) |


      ### Supported Formats

      | Format | Example |
      | ------ | ------- |
      | `ddd MMM DD YYYY` | `"Mon Jun 02 2014"` |
      | `MMM DD YYYY`     | `"Jun 02 2014"` |
      | `M/D/YYYY`        | `"6/2/2014 or 06/02/2014"` |
      | `M/D/YY`          | `"6/2/14"` |
      | `YYYY-MM-DD`      | `"2014-06-02"` |
      | `MM-DD-YYYY`      | `"06-02-2014"` |
      | `MMDDYYYY`        | `"06022014"` |
      | `YYYYMMDD`        | `"20140602"` |
      | `"ddd DD MMM YYYY` | `"Fri 18 July 2014"` |
      | `"DD MMM YYYY"`   | `"18 July 2014"` |
      | `"D/M/YYYY"`      | `"18/7/2014"` |
      | `"D/M/YY"`        | `"18/7/14"` |
      |  `"YYYY-DD-MM"`   | `"2014-18-07"` |
      |  `"DD-MM-YYYY"`   | `"18-07-2014"` |
      |  `"DDMMYYYY"`     | `"18072014"` |
      |  `"YYYY-DD-MM"`   | `"2014-18-07"` |
      |  `"YYYYDDMM"`     | `"20141807"` |

      ## Date of Birth

      Date of birth fields and variables are declared as type `dob`. See the [date type](https://developers.activeprospect.com/docs/leadconduit/api/tag/Types/#tag/Types/section/Date) for supported formats.

      | Component | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string | Unmodified value submitted with the lead |
      | `valid`         | boolean | Indicates whether the value could be understood as a date |
      | `normal`        | string  | The normalized value (i.e. `"10/1/1988"` is normalized to `"1988-10-01"`) |

      ## Email

      Email fields and variables are declared as type `email`.

      | Component       | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string | Unmodified value submitted with the lead |
      | `valid`         | boolean | Indicates whether the value could be understood as an email address |
      | `normal`        | string  | The normalized value (i.e. `"MIKEJONES32@gmail.com"` is normalized to `"mikejones32@gmail.com"`) |
      | `user`          | string  | User name (everything to the left of @) |
      | `domain`        | string  | Domain name (everything to the right of @) |
      | `host`          | string  | Domain excluding top level domain |
      | `tld`           | string  | Top level domain (.com, .net, etc) |
      | `is_free`       | boolean  | Whether or not the email is from a free domain (ex: gmail, yahoo, etc) |
      | `is_disposable` | boolean  | Whether or not the email is disposable |

      ## First Name

      Email fields and variables are declared as type `first_name`.

      ## Gender

      Gender fields and variables are declared as type `gender`. Values are parsed case insensitively. Examples of valid
      gender values are: "male", "m", "female", "f", "other", "o".  

      | Component | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a gender |
      | `normal`        | string  | The normalized value (`"male"`, `"female"`, `"other"`) |
      | `abbr`          | string  | Abbreviation of the `normal` value (`"M"`, `"F"`, `"O"`) |

      ## Last Name

      Last name fields and variables are declared as type `last_name`.

      ## Number

      Number fields and variables are declared as type `number`. Decimal and negative numbers are supported. 
      Currency and unit punctuation characters are ignored.  

      | Component | Type | Description |
      | --------------- | ---- | ----------- |
      | `raw`           | string | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a number |
      | `normal`        | number  | The normalized value (i.e. `"$100.99"` is normalized to `100.99`) |


      ## Phone

      Phone fields and variables are declared as type `phone`. This data type only supports US phone numbers.

      | Component       | Type     | Description |
      | --------------- | -------- | ----------- |
      | `raw`           | string   | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a phone number |
      | `normal`        | string   | The normalized value (i.e. `"(281) 330-8004"` is normalized to `"2813308004"`) |
      | `area`          | string   | Area code portion of the phone number (i.e. `"281"`) |
      | `exchange`      | string   | Exchange portion of the phone number (i.e. `"330"`) |
      | `line`          | string   | Line number portion of the phone number (i.e. `"8004"`) |
      | `number`        | string   | Full number (i.e. `"3308004"` |
      | `extension`     | string   | Phone number extension (i.e. `"2813308004x201" has extension `"201"`) |
      | `type`          | string   | Phone number type based on hint `m`, `h`, or `w` appended to the number- (i.e. `"(281) 330-8004m"` has type of `"mobile"`) |
      | `is_tollfree`   | boolean  | Phone has an `area` of 800, 844, 855, 866, 877, or 888 |

      ### Supported Formats

      | Format | Description |
      | ------ | ------- |
      | `"2813308004"` |  Ten-digit phone number |
      | `"281-330-8004"` |  Ten-digit phone number with dashes |
      | `"281.330.8004"` |  Ten-digit phone number with dots |
      | `"281 330 8004"` |  Ten-digit phone number with spaces |
      | `"(281) 330-8004"` |  Ten-digit phone number with parentheses, space, and dash |
      | `"1 (281) 330-8004"` | Any supported format with preceding country code |

      ### Line Type Hint

      If a raw phone number value has line type hint appended, the phone type will automatically set the `type` value 
      appropriately. For example, the `c` hint found in `281-330-8004 (c)` (c indicates "cell") will cause the `type` 
      value to be set to "mobile". Hints can immediately follow the phone number, can be separated by the phone by any 
      number of spaces, and can also optionally be wrapped in parentheses.

      | Phone Number | `type` Value |
      | ------------ | ------------ |
      | `"2813308004c` | "mobile" |
      | `"2813308004m` | "mobile" |
      | `"2813308004 m` | "mobile" |
      | `"2813308004 (m)` | "mobile" |
      | `"2813308004w` | "work" |
      | `"2813308004h` | "home" |

      ### Extension Hint

      If a raw phone number value has an extension hint appended, the phone type will automatically set the `extension` 
      value appropriately. For example, the `x201` hint found in `281-330-8004 x201` will cause the `extension` 
      value to be set to `"201"`. Hints can immediately follow the phone number, can be separated by the phone by any 
      number of spaces.


      ## Postal Code

      Postal Code fields and variables are declared as type `postal_code`.

      | Component       | Type     | Description |
      | --------------- | -------- | ----------- |
      | `raw`           | string   | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a postal code |
      | `normal`        | string   | The normalized value (i.e. `"78704 4224"` is normalized to `"78704-4224"`) |
      | `country_code`  | string   | Two letter country abbreviation (i.e. `"US"`) |
      | `zip`           | string   | First 5 digits of a US zip code (i.e. `"78704"`) |
      | `four`          | string   | Last 4 digits of a US zip code (i.e. `"4424"` |
      | `fsa`           | string   | Canadian forward sortation area (i.e. `"Q2E 4U7"` has `fsa` of `"Q2E"`) |
      | `ldu`           | string   | Canadian forward sortation area (i.e. `"Q2E 4U7"` has `fsa` of `"47U"`) |
      | `outcode`       | string   | Great Britain outward code (i.e. `"A1 1AA"` has `outcode` of `"A1"`) |
      | `incode`        | string   | Great Britain inward code (i.e. `"A1 1AA"` has `incode` of `"1AA"`) |

      ## Range

      Range fields and variables are declared as type `range`. A range is a field value with lower and upper numeric
      boundaries. Range fields are commonly used in scenarios where a consumer is presented a drop-down. For example,
      the standard `credit_score` range field might have the value `"700 - 749"`.

      | Component       | Type     | Description |
      | --------------- | -------- | ----------- |
      | `raw`           | string   | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a range value |
      | `normal`        | string   | The normalized value (i.e. `"700 to 749"` is normalized to `"700-749"`) |
      | `min`           | number   | The lower boundary of the range (i.e. `700`) |
      | `max`           | number   | The upper boundary of the range (i.e. `749`) |
      | `avg`           | number   | The average of the `min` and `max` accurate to the second decimal place (i.e. `724.50`) |
      | `mid`           | number   | Average of max and min, rounded down to the nearest whole number (i.e. `724`) |

      ## SSN

      US Social Security Number fields and variables are declared as type `ssn`.

      | Component       | Type     | Description |
      | --------------- | -------- | ----------- |
      | `raw`           | string   | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a Social Security Number |
      | `normal`        | string   | The normalized SSN value (i.e. `"1234567890`") |
      | `first_three`   | string   | First three digits of SSN (i.e. SSN `"123-456-7890"` has `first_three` of`"123"`|
      | `middle_two`    | string   | Middle two digits of SSN (i.e. SSN `"123-456-7890"` has `first_three` of`"456"`|
      | `last_four`     | string   | Last four digits of SSN (i.e. SSN `"123-456-7890"` has `first_three` of`"7890"` |

      ## State

      Locality or State fields and variables are declared as type `state`.

      | Component       | Type     | Description |
      | --------------- | -------- | ----------- |
      | `raw`           | string   | Unmodified value submitted with the lead |
      | `valid`         | boolean  | Indicates whether the value could be understood as a locality or state |
      | `normal`        | string   | The normalized locality or state. US states and territories are normalized to their two letter code (i.e. `"TX"`) |
      | `name`          | string   | Full name of the locality or state (i.e `"Texas"`) |

      ## String

      String fields and variables are declared as type `string`.


      ## Time

      Time fields and variables are declared as type `time`.
  - name: Rules
    x-traitTag: true
    description: |
      LeadConduit uses a rules engine to customize flow behavior based on field data, appended data, or internal
      tracking metadata (such as the submission timestamp). The rules engine is built into flow acceptance criteria,
      filtering, volume caps, pricing, mappings, and more. 

      ### Rule Set

      Rules belong to a set which has the following properties:

       * `op` &mdash; `and` or `or` determines whether all rules in set must pass or just one
       * `rules` &mdash; the array of Rules and/or Rule Sets to evaluate

      ### Rules

      Each element of the `rules` array can be a Rule or another Rule Set.

      Rules have the following properties:
       * `lhv` &mdash; left hand value is a key to look up a value from the lead data context
       * `op` &mdash; operator Name of the operator 
       * `rhv` &mdash; right hand value (omit for unary operators like `is blank`)
       * `rule_set` &mdash; optional rule set to be ANDed with the rule

      ### Variables

      When rules are processed the `lhv` will be resolved to a value using the data in the variables found under that key. For example, if the `lhv`
      is "lead.first_name" and the variables are `{ "lead": { "first_name": "Bob" } }`, then the resolved `lhv` will be "Bob".

      ### Templating

      The `lhv` and `rhv` of each rule supports (templating)[https://developers.activeprospect.com/docs/leadconduit/api/tag/Templates/]. The variables are used to evaluate the template.
  - name: Invitations
    description: Invite another account to connect
  - name: Variables
    x-traitTag: true
    description: |
      A variable is a key/value pair that is available to filters, rule sets
      and mappings and in templates at run time while processing a lead.

      Every lead is born with a standard set of variables, and additional
      variables are added at run-time as leads are processed by each step in
      the flow. The full set of variables are stored on every event (in the
      `vars` property) generated during lead processing.

      Variables are stored on events as nested objects and are referenced at
      runtime using dot-notation. There are several top-level variable prefixes
      that logically group variables.
  - name: Caps and Limits
    description: |
      LeadConduit supports two controls that set constraints on lead submissions and pings. 

      ### Cap
      A cap allows limiting the number of leads sent to a flow. If a lead is successful, it will be counted against the
      `maximum` configured leads. If configured, the rule set will be evaluated to determine whether a lead will be counted
      against the cap.
  - name: Lead Submission
    x-traitTag: true
    description: |+
      How lead handling works

  - name: Templates
    x-traitTag: true
    description: |
      LeadConduit supports combining, [formatting](https://developers.activeprospect.com/docs/leadconduit/api/tag/Templates/#tag/Templates/section/Variable-Formatting),
      [hashing](https://developers.activeprospect.com/docs/leadconduit/api/tag/Templates/#tag/Templates/section/Variable-Hashing), and [performing math](https://developers.activeprospect.com/docs/leadconduit/api/tag/Templates/#tag/Templates/section/Variable-Math) on
      values using template markup. Templating in LeadConduit is based on the
      popular [Handlebars](https://handlebarsjs.com/) semantic templating
      library. A template is a string which contains any number of variable
      placeholders

      ## Template Variable

      Variable placeholders in templates start and end with two curly-brace
      characters: `{{ lead.first_name }}`. Multiple placeholders can be
      combined in a single template: `{{ lead.first_name }} {{ lead.last_name
      }}`. The [universe of possible variables](https://developers.activeprospect.com/docs/leadconduit/api/tag/Variables/) available to a
      template depends on the [fields](https://developers.activeprospect.com/docs/leadconduit/api/tag/Fields/) defined in your flow and the
      steps you've added to your flow.

      ## Variable Formatting

      LeadConduit has a built-in helper for formatting numbers and dates.
      Formatting a value is done with the `format` helper.  If the value is a
      date field, then you may use date formatting options with the helper.
      If it's a number field, then you may use the number formatting options
      with the helper.

      ### Date Variable Formatting

      To format a date, use the `format` helper: `{{ format lead.dob
      format="YYYY-MM-DD" }}` results in '2015-06-24'. The `format` option is
      a string which defines the format of the date. This format can be any
      combination of the below tokens.  To escape characters in format
      strings, you can wrap the characters in square brackets: `{{ format
      lead.dob format="[It's] MMMM Do" }}` results in "It's October 12th".

      #### Date Format Tokens

      |                            | Token                      | Output     |
      | -------------------------- | -------------------------- | -----------|
      | Month                      | `M`                          | 1 2 ... 11 12
      |                            | `Mo`                         | 1st 2nd ... 11th 12th
      |                            | `MM`                         | 01 02 ... 11 12
      |                            | `MMM`                        | Jan Feb ... Nov Dec
      |                            | `MMMM`                       | January February ... November December
      | Quarter                    | `Q`                          | 1 2 3 4
      |                            | `Qo`                         | 1st 2nd 3rd 4th
      | Day of Month               | `D`                          | 1 2 ... 30 31
      |                            | `Do`                         | 1st 2nd ... 30th 31st
      |                            | `DD`                         | 01 02 ... 30 31
      | Day of Year                | `DDD`                        | 1 2 ... 364 365
      |                            | `DDDo`                       | 1st 2nd ... 364th 365th
      |                            | `DDDD`                       | 001 002 ... 364 365
      | Day of Week                | `d`                          | 0 1 ... 5 6
      |                            | `do`                         | 0th 1st ... 5th 6th
      |                            | `dd`                         | Su Mo ... Fr Sa
      |                            | `ddd`                        | Sun Mon ... Fri Sat
      |                            | `dddd`                       | Sunday Monday ... Friday Saturday
      | Day of Week (Locale)       | `e`                          | 0 1 ... 5 6
      | Day of Week (ISO)          | `E`                          | 1 2 ... 6 7
      | Week of Year               | `w`                          | 1 2 ... 52 53
      |                            | `wo`                         | 1st 2nd ... 52nd 53rd
      |                            | `ww`                         | 01 02 ... 52 53
      | Week of Year (ISO)         | `W`                          | 1 2 ... 52 53
      |                            | `Wo`                         | 1st 2nd ... 52nd 53rd
      |                            | `WW`                         | 01 02 ... 52 53
      | Year                       | `YY`                         | 70 71 ... 29 30
      |                            | `YYYY`                       | 1970 1971 ... 2029 2030
      |                            | `Y`                         | 1970 1971 ... 9999 +10000 +10001 Note: This complies with the ISO 8601 standard for dates past the year 9999
      | Week Year                  | `gg`                         | 70 71 ... 29 30
      |                            | `gggg`                       | 1970 1971 ... 2029 2030
      | Week Year (ISO)            | `GG`                         | 70 71 ... 29 30
      |                            | `GGGG`                       | 1970 1971 ... 2029 2030
      | AM/PM                      | `A`                          | AM PM
      |                            | `a`                          | am pm
      | Hour                       | `H`                          | 0 1 ... 22 23
      |                            | `HH`                         | 00 01 ... 22 23
      |                            | `h`                          | 1 2 ... 11 12
      |                            | `hh`                         | 01 02 ... 11 12
      |                            | `k`                          | 1 2 ... 23 24
      |                            | `kk`                         | 01 02 ... 23 24
      | Minute                     | `m`                          | 0 1 ... 58 59
      |                            | `mm`                         | 00 01 ... 58 59
      | Second                     | `s`                          | 0 1 ... 58 59
      |                            | `ss`                         | 00 01 ... 58 59
      | Fractional Second          | `S`                          | 0 1 ... 8 9
      |                            | `SS`                         | 00 01 ... 98 99
      |                            | `SSS`                        | 000 001 ... 998 999
      |                            | `SSSS ... SSSSSSSSS`         | 000[0..] 001[0..] ... 998[0..] 999[0..]
      | Time Zone                  | `z` or `zz`                  | EST CST ... MST PST (requires use of the `timezone` option)
      |                            | `Z`                          | -07:00 -06:00 ... +06:00 +07:00
      |                            | `ZZ`                         | -0700 -0600 ... +0600 +0700
      | Unix Timestamp             | `X`                          | 1360013296
      | Unix Millisecond Timestamp | `x`                          | 1360013296123

      #### Localized Date Formats

      Because preferred formatting differs based on locale, there are a few
      tokens that can be used to format a moment based on its locale.  There
      are upper and lower case variations on the same formats. The lowercase
      version is intended to be the shortened version of its uppercase
      counterpart.  To change the locale, use the `locale` options: `{{
      format date format="LLL" locale="fr" }}` results in "24 june 2015 17:24".

      |                                      | Format string | Output          |
      | ------------------------------------ | ------------- | ----------------|
      | Time                                 | `LT`            | 8:30 PM
      | Time with seconds                    | `LTS`           | 8:30:25 PM
      | Month numeral, day of month, year    | `L`             | 09/04/1986
      |                                      | `l`             | 9/4/1986
      | Month name, day of month, year       | `LL`            | September 4, 1986
      |                                      | `ll`            | Sep 4, 1986
      | Month name, day of month, year, time | `LLL`           | September 4, 1986 8:30 PM
      |                                      | `lll`           | Sep 4, 1986 8:30 PM
      | Month name, day of month, day of week, year, time | `LLLL` | Thursday, September 4, 1986 8:30 PM
      |                                      | `llll`          | Thu, Sep 4, 1986 8:30 PM

      ### Number Variable Formatting

      To format a number, use the `format` helper: `{{ format
      lead.mortgage.first_mortgage_balance format="$0,0.00"}}` results in
      '$45,302.00'. The `format` option is a string which defines the format
      of the number. See the table of examples below:

      | Number     | Format       | String      |
      | ---------- | ------------ | ----------- |
      | 10000      | `0,0.0000`   | 10,000.0000
      | 10000.23   | `0,0`        | 10,000
      | 10000.23   | `+0,0`       | +10,000
      | -10000     | `0,0.0`      | -10,000.0
      | 10000.1234 | `0.000`      | 10000.123
      | 100.1234   | `00000`      | 00100
      | 1000.1234  | `000000,0`   | 001,000
      | 10         | `000.00`     | 010.00
      | 10000.1234 | `0[.]00000`  | 10000.12340
      | -10000     | `(0,0.0000)` | (10,000.0000)
      | -0.23      | `.00`        | -.23
      | -0.23      | `(.00)`      | (.23)
      | 0.23       | `0.00000`    | 0.23000
      | 0.23       | `0.0[0000]`  | 0.23
      | 1230974    | `0.0a`       | 1.2m
      | 1460       | `0 a`        | 1 k
      | -104000    | `0a`         | -104k
      | 1          | `0o`         | 1st
      | 100        | `0o`         | 100th
      | 1000.234   | `$0,0.00`    | $1,000.23
      | 1000.2     | `0,0[.]00 $` | 1,000.20 $
      | 1001       | `$ 0,0[.]00` | $ 1,001
      | -1000.234  | `($0,0)`     | ($1,000)
      | -1000.234  | `$0.00`      | -$1000.23
      | 1230974    | `($ 0.00 a)` | $ 1.23 m

      Use the `locale` option to format the number to a particular locale:
      `{{ format lead.mortgage.first_mortgage_balance locale="fr"
      format="$0,0.00" }}` results in '€45 302.00'.

      ### Converting Number and Boolean to String

      Fields of type number and boolean can be converted to string using the `format` helper with the `dataType="String"` option:

      `{{format field_name dataType="String"}}`

      Example:
      - Input: `{{format lead.age dataType="String"}}` with `lead.age` = 30
      - Output: "30"

      ### Converting String to Number

      Fields whose final result from the `format` helper is a string can be converted to a number if the `dataType="Number"` option is passed and the value is a string representing a valid number.

      Examples:
      - Input: `{{format lead.postal_code dataType="Number"}}` with `lead.postal_code` = '78751'
      - Output: 78751 (as a number value)

      If the string does not represent a valid number, the result will not be converted:
      - Input: `{{format lead.postal_code dataType="Number"}}` with `lead.postal_code` = 'H3Z 2Y7'
      - Output: 'H3Z 2Y7'

      This can also be used with dates if the formatting returns only numbers, such as epoch time:
      - Input: `{{format lead.source_timestamp format="X" dataType="Number"}}` with `lead.source_timestamp` = '2015-06-24T17:24:49.060Z'
      - Output: 1435166689 (as a number value)


      ## Variable String Manipulation

      Strings can be manipulated with the following helpers:

      ### Lowercase

      Transforms the value to lowercase:

      `{{lowercase field_name}}`

      Example:
      - Input: `{{lowercase lead.first_name}}` with `lead.first_name` = "Mike"
      - Output: "mike"

      ### Uppercase

      Transforms the value to uppercase:

      `{{uppercase field_name}}`

      Example:
      - Input: `{{uppercase lead.first_name}}` with `lead.first_name` = "Mike"
      - Output: "MIKE"

      ### Substring

      Returns a substring from the start position to the end position, or from the start position to the end of the string if no end position is provided:

      `{{substring field_name start="3"}}`

      Example:
      - Input: `{{substring lead.first_name start="3"}}` with `lead.first_name` = "Michael"
      - Output: "chael"

      `{{substring field_name start="2" end="4"}}`

      Example:
      - Input: `{{substring lead.first_name start="2" end="4"}}` with `lead.first_name` = "Michael"
      - Output: "ich"

      ### Replace

      Replaces the pattern with the content of the replace option. The pattern can be a literal string or a regular expression using the `regexp()` option:

      `{{replace field_name pattern="Mi" replace="At"}}`

      Example:
      - Input: `{{replace lead.first_name pattern="Mi" replace="At"}}` with `lead.first_name` = "Michael"
      - Output: "Atchael"

      `{{replace field_name pattern="regexp(h.{3})" replace="ke"}}`

      Example:
      - Input: `{{replace lead.first_name pattern="regexp(h.{3})" replace="ke"}}` with `lead.first_name` = "Michael"
      - Output: "Micke"

      ### Extract

      Extracts all occurrences found with the regular expression in the pattern:

      `{{extract field_name pattern="\$begin:math:display$(.*?)\\$end:math:display$"}}`

      Example:
      - Input: `{{ extract foo pattern="(?<=#)(\\w+)(?=#)" }}` with `lead.first_name` = "#John#Doe#Smith"
      - Output: "John Doe"

      ## Variable Math

      To perform math operations, use the `math` helper: `{{ math "1 + 1" }}`
      results in `2`. Of course, variables can also be used: `{{ math "1 +
      lead.random_number" }}` might result in `32` depending on the value
      of `lead.random_number`. The math expression accepts a pretty basic
      grammar. Operators have the normal precedence:

      | Operator                 | Associativity | Description
      | ------------------------ | ------------- | ----------
      | (...)                    | None          | Grouping
      | f(), x.y                 | Left          | Function call, property access
      | !                        | Left          | Factorial
      | ^                        | Right         | Exponentiation
      | +, -, not, sqrt, etc.    | Right         | Unary prefix operators (see below for the full list)
      | \*, /, %                 | Left          | Multiplication, division, remainder
      | +, -, \|\|               | Left          | Addition, subtraction, concatenation
      | ==, !=, >=, <=, >, <, in | Left          | Equals, not equals, etc. "in" means "is the left operand included in the right array operand?" (disabled by default)
      | and                      | Left          | Logical AND
      | or                       | Left          | Logical OR
      | x ? y : z                | Right         | Ternary conditional (if x then y else z)

      There are also several pre-defined functions:

      | Function      | Description |
      | ------------- | ----------- |
      | sin(x)        | Sine of x (x is in radians)
      | cos(x)        | Cosine of x (x is in radians)
      | tan(x)        | Tangent of x (x is… well, you know)
      | asin(x)       | Arc sine of x (in radians)
      | acos(x)       | Arc cosine of x (in radians)
      | atan(x)       | Arc tangent of x (in radians)
      | sqrt(x)       | Square root of x. Result is NaN (Not a Number) if x is negative.
      | log(x)        | Natural logarithm of x (not base-10). It’s log instead of ln because that’s what JavaScript calls it.
      | abs(x)        | Absolute value (magnitude) of x
      | ceil(x)       | Ceiling of x — the smallest integer that’s >= x.
      | floor(x)      | Floor of x — the largest integer that’s <= x
      | round(x)      | X, rounded to the nearest integer, using "grade-school rounding"
      | roundTo(x, n) | Rounds x to n places after the decimal point
      | exp(x)        | ex (exponential/antilogarithm function with base e)
      | random(n)     | Get a random number in the range [0, n). If n is zero, or not provided, it defaults to 1.
      | fac(n)        | n! (factorial of n: “n * (n-1) * (n-2) * … * 2 * 1″)
      | min(a,b,...)  | Get the smallest (“minimum”) number in the list
      | max(a,b,...)  | Get the largest (“maximum”) number in the list
      | pyt(a, b)     | Pythagorean function, i.e. the c in “c2 = a2 + b2“
      | pow(x, y)     | xy. This is exactly the same as “x^y”. It’s just provided since it’s in the Math object from JavaScript
      | atan2(y, x)   | arc tangent of x/y. i.e. the angle between (0, 0) and (x, y) in radians
      | if(c, a, b)   | Function form of c ? a : b

      #### Example

      To calculate the loan-to-value ratio, given a mortgage loan amount and
      the value of the home: `{{ math "(lead.mortgage.loan.amount /
      lead.mortgage.new_property_value) * 100" }}%`. Note that this example
      expresses the LTV as a percentage, first by calculating the percentage
      and then by appending the `%` character outside the variable
      placeholder. This could instead be handled using
      [formatting](#variable-math-formatting).

      ### Variable Math Formatting

      The `math` helper supports the same options as the `format` helper for
      numbers: `format` and `locale`. For example, to calculate the
      loan-to-value ratio and format it as a percentage: `{{ math
      "lead.mortgage.loan.amount / lead.mortgage.new_property_value"
      format="0.[00]%" }}`. This would return the LTV percentage with up to 2
      decimal points (i.e. 72.93%) as a string value.

      ## Variable Hashing

      LeadConduit supports a wide variety of hashing functions that can be
      applied to variables in a template. The helper name determines the
      hashing algorithm. For example, to use MD5 to hash the email address use:
      `{{ md5 lead.email }}`.  All the following hashing algorithms are
      supported:
        
      * md4
      * md5
      * ripemd
      * ripemd160
      * sha1
      * sha224
      * sha256
      * sha384
      * sha512
      * whirlpool
        
      Multiple values can be hashed together: `{{ md5 lead.email lead.phone_1 }}`. This can be used to salt the hash 
      also: `{{ md5 lead.email "this is my salt" }}`. The `salt` option can also be used. This is the equivalent of the 
      last example: `{{ md5 lead.email salt="this is my salt" }}`.  

      Hashing supports multiple encodings using the `encoding` option:
      `{{ md5 lead.email encoding="base64" }}` results in something like
      "tkK0IXs0sejTvZFfxlxEUg==". The following encodings are supported:
        
      * `hex` (default)
      * `base64`
      * `latin1`
externalDocs:
  url: https://developers.activeprospect.com/
  description: ActiveProspect Developer Portal
paths:
  /account:
    get:
      summary: Get account
      description: Returns the account information of the caller (based on authentication)
      operationId: getAccount
      tags:
        - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
    put:
      summary: Update account
      description: Update my account information
      operationId: updateAccount
      tags:
        - Account
      requestBody:
        description: Update an existing Account
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /caps:
    get:
      summary: List all cap counters
      description: Get the counters for all active caps. Caps that haven't received lead traffic during the current interval will not be included.
      operationId: listCaps
      tags:
        - Caps and Limits
      parameters:
        - in: query
          name: flow_id
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cap-counters'
  /caps/{id}:
    get:
      summary: Get a cap counter
      description: Returns the cap associated to the ID
      operationId: getCap
      tags:
        - Caps and Limits
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the cap to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cap-counter'
  /changelogs:
    get:
      summary: List all changelogs
      description: Get the list of all changelogs.
      operationId: listChangelogs
      tags:
        - Changelogs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelogs'
  /changelogs/{id}:
    get:
      summary: Get a changelog
      description: Returns the changelog matching the specified ID
      operationId: getChangelog
      tags:
        - Changelogs
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the changelog to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelog'
  /credentials:
    get:
      summary: List all credentials
      description: Get the list of all credentials.
      operationId: listCredentials
      tags:
        - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credentials'
    post:
      summary: Create a new credential
      description: Create a new credential
      operationId: createCredential
      tags:
        - Account
      requestBody:
        description: Create a new credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
  /credentials/{id}:
    get:
      summary: Get a credential
      description: Returns the credential matching the specified ID
      operationId: getCredential
      tags:
        - Account
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the credential to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
    put:
      summary: Update a credential
      description: Update an existing credential matching the specified ID
      operationId: updateCredential
      tags:
        - Account
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the credential to update
      requestBody:
        description: Create a new credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
    delete:
      summary: Delete a credential
      description: Deletes the credential matching the specified ID
      operationId: deleteCredential
      tags:
        - Account
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the credential to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
  /destinations:
    get:
      summary: List all destinations configured for the account
      description: |
        The `/destinations` resource is used to query destinations
        which have been configured in the LeadConduit app.
        If no destinations are configured for your account, this resource will return an empty array.
        Destinations returned from this endpoint can be
        [added to flows](https://developers.activeprospect.com/docs/leadconduit/api/tag/Flows/#tag/Flows/operation/updateFlow).
      operationId: listDestinations
      tags:
        - Destinations
        - Flows
      parameters:
        - name: include
          in: query
          schema:
            type: string
            enum:
              - flow_usages
          description: Additional properties to include in the response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Destination'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /entities:
    get:
      summary: List all entities
      description: Get the list of all entities.
      operationId: listEntities
      tags:
        - Entities
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entities'
    post:
      summary: Create a new entities
      description: Create a new entities
      operationId: createEntity
      tags:
        - Entities
      requestBody:
        description: Create a new entity
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /entities/{id}:
    get:
      summary: Get a entity
      description: Returns the entity matching the specified ID
      operationId: getEntity
      tags:
        - Entities
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the entity to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
    put:
      summary: Update a entity
      description: Update an existing entity matching the specified ID
      operationId: updateEntity
      tags:
        - Entities
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the entity to update
      requestBody:
        description: Create a new entity
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
    delete:
      summary: Delete a entity
      description: Deletes the entity matching the specified ID
      operationId: deleteEntity
      tags:
        - Entities
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the entity to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /entities/{id}/changelogs:
    get:
      summary: List changes to an Entity
      description: List all the changes made to an entity
      operationId: listEntityChangelogs
      tags:
        - Entities
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the entity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelogs'
  /events/event-metrics/median:
    get:
      summary: Get median event metrics
      operationId: getEventMetricsMedian
      tags:
        - Events
      parameters:
        - name: max_age
          in: query
          schema:
            type: number
          example: 86400
        - name: target_property
          in: query
          schema:
            type: string
        - name: group_by
          in: query
          schema:
            type: array
            items:
              type: string
        - name: timezone
          in: query
          schema:
            type: number
          example: -18000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        module_id:
                          type: string
                        median:
                          type: number
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/event-metrics/funnel:
    get:
      summary: Get funnel event metrics
      operationId: getEventMetricsFunnel
      tags:
        - Events
      parameters:
        - name: timeframe
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-timeframe'
          example: today
        - name: interval
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-interval'
          example: daily
        - name: timezone
          in: query
          schema:
            type: number
          example: -18000
        - name: steps
          in: query
          schema:
            type: array
            items:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        with_actors:
                          type: boolean
                        actor_property:
                          type: string
                        event_collection:
                          type: string
                        filters:
                          type: array
                          items:
                            type: object
                            properties:
                              operator:
                                type: string
                              property_name:
                                type: string
                              property_value:
                                type: string
                      additionalProperties: true
                  result:
                    type: array
                    items:
                      type: number
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/event-metrics/count:
    get:
      summary: Get event metrics counts
      operationId: getEventMetricsCount
      tags:
        - Events
      parameters:
        - name: group_by
          in: query
          schema:
            type: array
            items:
              type: string
        - name: timeframe
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-timeframe'
          example: this_14_days
        - name: interval
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-interval'
          example: daily
        - name: timezone
          in: query
          schema:
            type: number
          example: -18000
        - name: filters
          in: query
          schema:
            type: array
            items:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              outcome:
                                type: string
                              result:
                                type: number
                        timeframe:
                          $ref: '#/components/schemas/event-metrics-timeframe-bounded'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/event-metrics/count_unique:
    get:
      summary: Get unique event metrics counts
      operationId: getEventMetricsCountUnique
      tags:
        - Events
      parameters:
        - name: group_by
          in: query
          schema:
            type: array
            items:
              type: string
        - name: timeframe
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-timeframe'
        - name: interval
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-interval'
          example: daily
        - name: timezone
          in: query
          schema:
            type: number
          example: -18000
        - name: filters
          in: query
          schema:
            type: array
            items:
              type: object
        - name: target_property
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              outcome:
                                type: string
                              result:
                                type: number
                        timeframe:
                          $ref: '#/components/schemas/event-metrics-timeframe-bounded'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/event-metrics/select_unique:
    get:
      summary: Select unique event metrics
      operationId: getEventMetricsSelectUnique
      tags:
        - Events
      parameters:
        - name: group_by
          in: query
          schema:
            type: array
            items:
              type: string
        - name: timeframe
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-timeframe'
        - name: interval
          in: query
          schema:
            $ref: '#/components/schemas/event-metrics-interval'
        - name: timezone
          in: query
          schema:
            type: number
          example: -18000
        - name: filters
          in: query
          schema:
            type: array
            items:
              type: object
        - name: target_property
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        vars.source.id:
                          type: string
                        vars.recipient.id:
                          type: string
                        result:
                          type: array
                          items:
                            type: string
                      additionalProperties: true
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events:
    get:
      summary: List all events
      description: |
        The `/events` resource is used to query
        [events](https://developers.activeprospect.com/docs/leadconduit/api/tag/Leads/#tag/Leads/schema/Event)
        generated while handling leads. For each lead, one event is generated for
        each configured [flow
        step](https://developers.activeprospect.com/docs/leadconduit/api/tag/Flows/#tag/Flows/schema/Flow)
        that handles the lead. After lead processing completes, a source event
        is also recorded.
      operationId: listEvents
      tags:
        - Leads
      parameters:
        - name: after_id
          in: query
          schema:
            $ref: '#/components/schemas/ID'
          description: Return only events that were created after the one with this ID (exclusive)
        - name: before_id
          in: query
          schema:
            $ref: '#/components/schemas/ID'
          description: Return only events that were created before the one with this ID (exclusive)
        - name: start
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
          description: Return only events that were created at or after this time
        - name: end
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
          description: Return only events that were created at or before this time
        - name: rules
          in: query
          schema:
            type: string
          description: Stringified array of Rules to select matching events
        - name: include
          in: query
          schema:
            type: array
            items:
              type: string
          description: An array of fields to include. Cannot be used with exclude.
        - name: exclude
          in: query
          schema:
            type: array
            items:
              type: string
          description: An array of fields to exclude. Cannot be used with include.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: The maximum number of events to return (maximum limit is 1000, default 100)
        - name: sort
          in: query
          schema:
            type: string
          description: The results are sorted by date. Use asc to sort by oldest first or desc to sort by newest first. Defaults to desc.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
    post:
      summary: List all events for exports
      description: |
        The `/events` resource is used to query
        [events](https://developers.activeprospect.com/docs/leadconduit/api/tag/Leads/#tag/Leads/schema/Event)
        generated while handling leads. For each lead, one event is generated for
        each configured [flow
        step](https://developers.activeprospect.com/docs/leadconduit/api/tag/Flows/#tag/Flows/schema/Flow)
        that handles the lead. After lead processing completes, a source event
        is also recorded.
      operationId: listEventsPost
      tags:
        - Leads
      requestBody:
        description: Query parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/{id}:
    get:
      summary: Fetch a single event
      operationId: getEvent
      tags:
        - Leads
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the event to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /events/stats:
    get:
      summary: Retrieve statistics on events
      description: |
        The `/events/stats` resource is used to count events. The event count can be grouped by any field collected 
        with the lead or appended to the lead during flow processing. The API also supports returning results in JSON 
        or CSV using the appropriate MIME type in the `Accept` header.
      operationId: eventStatistics
      tags:
        - Leads
        - Reports
      parameters:
        - name: type
          in: query
          schema:
            type: string
          description: 'Convenience option that specifies a filter on event type (source, recipient, filter, feedback-received, or feedback-sent). Can be used multiple times to specify multiple types. (default: source)'
        - name: rule
          in: query
          schema:
            $ref: '#/components/schemas/Rule'
          description: Limit counted events using this rule. Can be used multiple times to specify multiple rules. Each rule must be sent as URL encoded JSON.
        - name: group_by
          in: query
          schema:
            type: string
          description: 'Group event counts by unique values of this property. Can be used multiple times to specify multiple properties. (default: none)'
        - name: interval
          in: query
          schema:
            type: string
          description: 'Groups event counts into sub-timeframes spanning a specified length of time: minutely, hourly, daily, weekly, monthly, yearly (default: none)'
        - name: timezone
          in: query
          schema:
            type: integer
          description: When an interval is specified, this time zone will be used to set the start and end of each interval. Any tz database time zone name (i.e. America/Chicago) or the number of seconds to offset time from UTC (i.e. -18000)
        - name: start
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
          description: 'Count events that were created at or after this time (default: beginning of the day today)'
        - name: end
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
          description: 'Count events that were created at or before this time (default: end of the day today)'
        - name: outcome
          in: query
          schema:
            type: string
          description: 'DEPRECATED: use column instead. The outcome to count (default: success, failure, error). Can be used multiple times to specify multiple types.'
        - name: column
          in: query
          schema:
            $ref: '#/components/schemas/event-statistic'
          description: A column to aggregate. Can be used multiple times to specify multiple columns.  source-success, source-failure, source-error
        - name: by_lead
          in: query
          schema:
            type: boolean
          description: 'Boolean indicating whether to count unique leads or unique events - false counts individual events (default: true)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-statistics'
  /fields:
    get:
      summary: List all fields
      description: |
        Get the list of all fields, including all standard and custom fields.
      operationId: listFields
      tags:
        - Fields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Field'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
    post:
      summary: Create a field
      description: |
        Create a new custom field, adding it to the list of all fields in the
        account.
      operationId: createField
      tags:
        - Fields
      requestBody:
        description: Create a new field
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /fields/{id}:
    get:
      summary: Get a field
      description: Fetch a single field.
      operationId: getField
      tags:
        - Fields
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the field to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
    put:
      summary: Update a field
      description: |
        Update an existing custom field. Standard fields cannot be updated.
      operationId: updateField
      tags:
        - Fields
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the field to update
      requestBody:
        description: Updated an existing field
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
    delete:
      summary: Delete a field
      description: |
        Delete an existing custom field. If a field is referenced in a flow and
        is deleted, an HTTP 202 will be returned but that flow will continue to
        operate as though the field still exists. The errors for each flow will
        be returned to the response body and the recorded on the flow's error
        property. More changes to the flow must dereference the field.

        Standard fields cannot be deleted.
      operationId: deleteField
      tags:
        - Fields
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the field to delete
      responses:
        '202':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /fields/{id}/changelogs:
    get:
      summary: List changes to a Field
      description: Lists all the changes made to a Field
      operationId: listFieldChangelogs
      tags:
        - Fields
      parameters:
        - in: path
          name: id
          description: ID of the Field
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelogs'
  /firehose:
    get:
      summary: Test firehose's ability to write to s3
      description: |
        The `/firehose` resource is used to validate s3 credentials by writing a
        test file to a given bucket. If a prefix is provided, the file is written
        to `<prefix>/leadconduit-events/test.txt`, otherwise it's written to
        `leadconduit-events/test.txt`.
      operationId: firehose
      tags:
        - Firehose
      parameters:
        - in: query
          name: access_key_id
          description: AWS Access Key Id, used to write to a given S3 bucket
          schema:
            type: string
          required: true
        - in: query
          name: secret_access_key
          description: AWS Secret Access Key, used to write to a given S3 bucket
          schema:
            type: string
          required: true
        - in: query
          name: bucket
          description: The name of the s3 bucket
          schema:
            type: string
          required: true
        - in: query
          name: prefix
          description: |
            If provided, files written to s3 will be written as
            &lt;prefix>/&lt;lead id>/&lt;event id>.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ETag:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /flows:
    get:
      summary: List all flows
      description: Returns all the flows associated to an account
      operationId: listFlows
      tags:
        - Flows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Flow'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
    post:
      summary: Create a new flow
      description: Create a new flow, adding it to the list of all flows in the account. The caller may specify an ID for a flow, provided it is a valid BSON ID
      operationId: createFlow
      tags:
        - Flows
      requestBody:
        description: Create a new flow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
    put:
      summary: Update all flows
      description: Update all flows for an account. Only users with superuser access can run this.
      operationId: updateFlows
      tags:
        - Flows
      responses:
        '200':
          description: OK
  /flows/{id}:
    get:
      summary: Get a flow
      description: Returns the flow associated to the ID
      operationId: getFlow
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the flow to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
    put:
      summary: Update an existing flow
      description: Update an existing Flow
      operationId: updateFlow
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the flow to update
      requestBody:
        description: Update a flow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
    delete:
      summary: Delete an existing flow
      description: Once a flow is deleted it will no longer accept leads. Attempting to submit leads to a deleted flow will result in an HTTP 404. Returns the flow as it existed at the time of deletion.
      operationId: deleteFlow
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/ID'
          required: true
          description: ID of the flow to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
  /flows/{id}/deploy:
    post:
      summary: Deploy a saved flow to production
      description: A flow defines how lead submissions will be handled. In order to make a flow's latest state active for lead handling, it must be deployed. Because changes to a flow can be made without deploying them, you are free make flow updates without affecting current lead handling.  Put another way, a deployment must be performed after it is created or updated in order for lead handling to start using the new configuration.
      operationId: deployFlow
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          description: ID of the flow to deploy
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResponse'
  /flows/{id}/changelogs:
    get:
      summary: List changes to a Flow
      description: Lists all the changes made to a flow
      operationId: listFlowChangelogs
      tags:
        - Changelogs
      parameters:
        - in: path
          name: id
          description: ID of the flow
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelogs'
  /flows/{id}/fields:
    get:
      summary: List fields associated to the Flow
      description: List fields associated to the Flow
      operationId: listFlowFields
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          description: ID of the flow schema
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Field'
  /flows/{id}/fields/usage:
    get:
      summary: Get flow field usages
      description: Count the number of leads processed by flow field. This tells you which and how much each flow field was used today. You can change the timeframe using the `timeframe` parameter (i.e. `timeframe=previous_30_days`), though this is discouraged because this query is fairly heavy.
      operationId: flowFieldUsages
      tags:
        - Flows
      parameters:
        - in: path
          name: id
          description: ID of the flow
          schema:
            $ref: '#/components/schemas/ID'
          required: true
        - in: query
          name: timeframe
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
  /invitations/source:
    post:
      summary: Create a source invitation
      description: Send an invitation to Account's Team and return a source pending entity
      operationId: createInvitationSource
      tags:
        - Invitations
      requestBody:
        description: Create a new source invitation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationSuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationErrorResponse'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /invitations/recipient:
    post:
      summary: Create a recipient invitation
      description: Send an invitation to Account's Team and return a recipient pending entity
      operationId: createInvitationRecipient
      tags:
        - Invitations
      requestBody:
        description: Create a recipient invitation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationSuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationErrorResponse'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /packages:
    get:
      summary: List all integration packages
      description: Get the list of all integration packages.
      operationId: listPackages
      tags:
        - Packages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IntegrationPackage'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /packages/{id}:
    get:
      summary: Fetch a single integration package
      description: Fetch a single integration package.
      operationId: getPackage
      tags:
        - Packages
      parameters:
        - in: path
          name: id
          description: ID of the package
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationPackage'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotAuthorized'
  /ping_limits:
    get:
      summary: List all ping limit counters
      description: |
        Get the counters for all active ping limits. Ping limits that haven't
        received ping traffic during the current interval will not be included.
      operationId: listPingLimits
      tags:
        - Caps and Limits
      parameters:
        - in: query
          name: flow_id
          description: Return the ping limits where `flow_id` matches this value
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PingLimit'
  /ping_limits/{id}:
    get:
      summary: Fetch a ping limit counter
      description: Get a counter for a single ping limit.
      operationId: getPingLimits
      tags:
        - Caps and Limits
      parameters:
        - in: path
          name: id
          description: The ID of the specific Ping Limit
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingLimit'
  /reports:
    get:
      summary: List all reports
      description: Get the list of all reports.
      operationId: listReports
      tags:
        - Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
    post:
      summary: Create a new report
      description: Create a new report, adding it to the list of all reports in the account.
      operationId: createReport
      tags:
        - Reports
      requestBody:
        description: Create a new Report
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
  /reports/{id}:
    get:
      summary: Fetch a single report
      description: |
        Get the report definition for an individual report. The parameter can be
        a report id, which requires passing the api_key or a report token, which
        does not.
      operationId: getReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID or token of the report to fetch
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
    put:
      summary: Update an existing report
      description: |
        Update an existing report. Note that the token cannot be updated with
        this call. Use the /share endpoint to generate a new token and `/unshare`
        to clear it.
      operationId: updateReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID or token of the report to fetch
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      requestBody:
        description: Update an existing report
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '200':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
    delete:
      summary: Delete a report
      description: Delete an existing report.
      operationId: deleteReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID or token of the report to delete
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
  /reports/{id}/share:
    put:
      summary: Fetch a report's token
      description: |
        Share a report by generating a new token for a report. Once the token is
        retrieved, you can use it in place of the ID in the `/reports/:id`
        endpoint.
      operationId: shareReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID of the report to share
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
  /reports/{id}/unshare:
    put:
      summary: Clear's a reports share token
      description: Unshare a report by clearing the report's token.
      operationId: unshareReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID of the report to unshare
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: 'null'
  /reports/preview:
    post:
      summary: Create a report without saving it
      description: |
        Create a report but don't save it. The report definition is provided in
        the post body and the time range is provided as query parameters.
      operationId: previewReport
      tags:
        - Reports
      parameters:
        - in: query
          name: start
          description: |
            limit events counted in report to those recorded at or after this time
          schema:
            $ref: '#/components/schemas/Timestamp'
          required: true
        - in: query
          name: end
          description: |
            limit events counted in report to those recorded at or before this
            time
          schema:
            $ref: '#/components/schemas/Timestamp'
          required: true
        - in: query
          name: columns
          description: Array of report columns to display
          schema:
            type: array
            items:
              $ref: '#/components/schemas/report-column'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
  /reports/{id}/run:
    get:
      summary: Run a report
      description: |
        Run a report that was previously created. The parameter can be an id or
        token. The time range is provided as query parameters.
      operationId: runReport
      tags:
        - Reports
      parameters:
        - in: path
          name: id
          description: ID or token of the report to run
          schema:
            $ref: '#/components/schemas/ID'
          required: true
        - in: query
          name: start
          description: |
            limit events counted in report to those recorded at or after this time
          schema:
            $ref: '#/components/schemas/Timestamp'
          required: true
        - in: query
          name: end
          description: |
            limit events counted in report to those recorded at or before this
            time
          schema:
            $ref: '#/components/schemas/Timestamp'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
  /reports/{token}/meta:
    get:
      summary: Get report metadata
      description: Get the metadata for a report that was shared.
      operationId: getReportMeta
      tags:
        - Reports
      parameters:
        - in: path
          name: token
          description: Token of the report to retrieve metadata for
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  account_name:
                    type: string
                  vars:
                    type: array
                    items:
                      type: object
                  flows:
                    type: array
                    items:
                      type: object
                  entities:
                    type: array
                    items:
                      type: object
  /routers:
    get:
      summary: List all routers
      description: Get the list of all routers.
      operationId: listRouters
      tags:
        - Routers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Router'
    post:
      summary: Create a router
      description: |
        Create a new custom router, adding it to the list of all routers in the
        account.
      operationId: createRouter
      tags:
        - Routers
      requestBody:
        description: Create a new Router
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Router'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Router'
  /routers/{id}:
    get:
      summary: Get a router
      description: Fetch a single router.
      operationId: getRouter
      tags:
        - Routers
      parameters:
        - in: path
          name: id
          description: The ID of the router
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Router'
    put:
      summary: Update a router
      description: |
        Update an existing custom router. Standard routers cannot be updated.
      operationId: updateRouter
      tags:
        - Routers
      parameters:
        - in: path
          name: id
          description: The ID of the router
          schema:
            $ref: '#/components/schemas/ID'
          required: true
      requestBody:
        description: Update an existing Router
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Router'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Router'
  /search/leads:
    get:
      summary: Search leads
      description: |
        The `/search/leads` resource is used to find leads using full text
        search. For example, you can search for `fred` in `texas` using:

        ```
        /search/leads?query=fred+tx
        ```

        ## Search Criteria

        * pass in the search text using the query parameter:
          `/search/leads?query=fred`
        * the query parameter should be URL encoded
        * searching is case-insensitive: `FRED` and `fred` will both match `Fred`
        * you don't have to enter a complete word - searching will match the
          beginning of words: `/search/leads?query=sam` will match `sam` and
          `samantha`
        * queries with multiple words like `fred tx` will match leads that have
          both `fred` AND `tx`
        * to specify an exact phrase (with spaces), use double quotes - `"fred
          tx"` will only match that exact text

        The search results can be sorted and paginated. There are two query
        parameter to control sorting: `sort_by` and `sort_dir`. The `sort_by`
        parameter takes a field name (see list below) and `sort_dir` is ascending
        (`asc`) or descending (`desc`). By default, the results are sorted by
        relevance.

        There are two query parameters to control paging: `from` and `limit`. The
        `from` parameter specifies the starting offset of that page in the search
        results and the `limit` parameter specifies how many search results to
        return. From is zero-based so to get the first 10 results, use
        `from=0&limit=10`, the second 10 using `from=10&limit=10`, etc... The
        maximum `limit` is 100 at a time, with an overall maximum of 1,000 search
        results.

        ## Search Results

        The search results has the total number of matching leads and an array of
        hits, where each hit is a matching Lead Search Result. Each lead search
        result contains basic information about the lead, the latest event for
        that lead, and highlighting of the matched text.
      operationId: leadSearch
      tags:
        - Leads
      parameters:
        - in: query
          name: query
          description: text to search for
          schema:
            type: string
        - in: query
          name: sort_by
          description: |
            One of the following field names: `lead_id`, `submission_timestamp`,
            `first_name`, `last_name`, `email`, `phone_1`, `phone_2`,
            `address_1`, `city`, `state`, `postal_code`, `reference`
          schema:
            type: string
            enum:
              - lead_id
              - submission_timestamp
              - first_name
              - last_name
              - email
              - phone_1
              - phone_2
              - address_1
              - city
              - state
              - postal_code
              - reference
        - in: query
          name: sort_dir
          description: |
            The sort direction: "asc" or "desc", default is by relevance
          schema:
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: from
          description: |
[...]
