---
URL: https://whatsnew.activeprospect.com/en/subdomain-verification
Page Title: Subdomain Verification
Screenshot URL: https://service.firecrawl.dev/storage/v1/object/public/media/screenshot-4b685a5a-9e0b-4132-a4b4-435cc262ec1c.png
Scraped At: 2025-05-30 01:37:50.359
---
Improvement





New




November 21, 2024

### Subdomain Verification

You can now verify your subdomains!

1.  Go to [Domains](https://account.activeprospect.com/domains) and add your subdomain
2.  Under Actions, select Verify Ownership for that subdomain
3.  Copy the TXT Record
4.  In a new tab, go to your domain's DNS registrar and add a new TXT record at the root domain of the subdomain you're trying to verify
5.  Click Begin Verification

For more information, view our [community post](https://community.activeprospect.com/posts/4649879-verify-domain-ownership).

![emoji negative reaction for 'Subdomain Verification'](https://app.getbeamer.com/images/emojiNeg.svg)![emoji neutral reaction for 'Subdomain Verification'](https://app.getbeamer.com/images/emojiNeut.svg)![emoji positive reaction for 'Subdomain Verification'](https://app.getbeamer.com/images/emojiPos.svg)

Thanks for your feedback

[Create your own newsfeed](https://www.getbeamer.com/?ref=watermark_MErKJCnu12412_public&company=ActiveProspect&watermarkRef=create&utm_term=MErKJCnu12412&utm_content=ActiveProspect&utm_source=standalone&utm_medium=footer&utm_campaign=create)"

